.review-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* for mobile devices */
@media only screen and (max-width: 600px) {
    .review-card{
        grid-template-columns: repeat(1,1fr);
    }
  }